@tailwind base;
@tailwind components;
@tailwind utilities;

.rankingChiptl {
  border-top-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0px;
}
.rankingChiptr {
  border-top-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 10px;
}
.boldChip * {
  font-weight: 600 !important;
}

.overflow-hidden2 span{
  overflow:hidden !important;
}

.grid-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  gap: 2em;
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(330px, 100%, 390px), 1fr)
  );
}

.grid-item {
  display: flex;
  justify-content: center;
}
.fixed2 {
  grid-column-end:-1;
  grid-row:2;

}
.fixed3 {
  grid-column-end:-1;
  grid-row:1;

}